{% extends 'base.html' %}

{% block title %}California Ferry Schedules{% endblock %}

{% block h1 %}California Ferry Schedules{% endblock %}
{% block leadcopy %}A comprehensive, up-to-date directory of California Ferry Schedules.{% endblock %}

{% block content %}
<h5 class="mb-3">Browse ferry schedules in California</h2>
    <dl class="row">
        {% for link in ca_links %}
        
            <dt class="col-sm-3">
                <a href="{{ link.2 }}">{{ link.3 }}</a>
            </dt>
            <dd class="col-sm-9">
                {{ link.4 }}
            </dd>

        {% endfor %}
    </dl>
{% endblock %}

