{% if next_departures %}
<h5>Next Departures</h5>
<div class="container container-schedule">
    <div class="row py-3">
        <div class="col-sm">
            <div class="card departure-card">
                <div class="card-header">{{ ndh_1 }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ next_departure_1 }}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card departure-card">
                <div class="card-header">{{ ndh_2 }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ next_departure_2 }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if bremerton_schedule %}<p class="mx-3" style="font-size: 0.75rem;">* Based on Pacific Daylight Time</p>{% endif %}
        {% if kingston_schedule %}<p class="mx-3" style="font-size: 0.75rem;">* Based on Pacific Daylight Time</p>{% endif %}
    </div>
</div>
{% endif %}
<h5 class="mt-5">{{ th_1 }}</h5>
<div class="container container-schedule pt-3">
    <div class="row">
        <div class="col">
            <h4>Daily Service</h4>
            <table class="table table-striped table-sm table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        {% for header in table_headers_1 %}
                        <th scope="col">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for rows in schedule_1 %}
                    <tr>
                        {% for time in rows %}
                        <td>{{ time }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<h5 class="mt-5">{{ th_2 }}</h5>
<div class="container container-schedule pt-3">
    <div class="row">
        <div class="col">
            <h4>Daily Service</h4>
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        {% for header in table_headers_2 %}
                        <th scope="col">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for rows in schedule_2 %}
                    <tr>
                        {% for time in rows %}
                        <td>{{ time }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
