{% extends 'base.html' %}

{% block title %}California Ferry Schedules{% endblock %}

{% block h1 %}California Ferry Schedules{% endblock %}
{% block leadcopy %}A comprehensive, up-to-date directory of California Ferry Schedules.{% endblock %}

{% block content %}
<h5>Browse ferry schedules in California</h2>
<div class="container container-link-group">
    <dl class="row">
        {% for row in ca_nav_links|batch(3,'') %}
            {% for href in row %}
                <dt class="col-sm-3">
                    <a href="{{ href.0 }}">{{ href.1 }}</a>
                </dt>
                <dd class="col-sm-9">

                </dd>
            {% endfor %}

        {% endfor %}
    </dl>
</div>
{% endblock %}

