<nav class="navbar navbar-expand-md navbar-light px-5">
    <a class="navbar-brand" href="{{ url_for('homepage') }}">Ferry Schedules</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New York
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for link in ny_links %}
                <a class="dropdown-item" href="{{ link.0 }}">{{ link.1 }}</a>
                {% endfor %}   
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Washington
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for link in wa_links %}
                <a class="dropdown-item" href="{{ link.0 }}">{{ link.1 }}</a>
                {% endfor %}   
            </div>
        </li>
    </div>
</nav>