{% extends 'base.html' %}

{% block title %}New York Ferry Schedules{% endblock %}

{% block h1 %}New York Ferry Schedules{% endblock %}
{% block leadcopy %}A comprehensive, up-to-date directory of New York Ferry Schedules.{% endblock %}

{% block content %}
<h5 class="mb-3">Browse ferry schedules in New York</h5>
    <dl class="row">
        {% for row in ny_nav_links|batch(3,'') %}
            {% for href in row %}
                <dt class="col-sm-3">
                    <a href="{{ href.0 }}">{{ href.1 }}</a>
                </dt>
                <dd class="col-sm-9">
                    {{ href.2 }}
                </dd>
            {% endfor %}

        {% endfor %}
    </dl>
{% endblock %}

