{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block h1 %}{{ h1 }}{% endblock %}
{% block leadcopy %}{{ leadcopy }}{% endblock %}

{% block content %}
    {% if bremerton_schedule %}
        {% include "daily_schedule.html" %}
    {% elif bainbridge_schedule %}
        {% include "weekday_weekend_holiday_schedule.html" %}
    {% elif anacortes_schedule %}
        {% include "anacortes_schedule.html" %}
    {% elif kingston_schedule %}
        {% include "daily_schedule.html" %}
    {% elif staten_island_schedule %}
        {% include "weekday_weekend_holiday_schedule.html" %}
    {% elif larkspur_schedule %}
        {% include "weekday_weekend_holiday_schedule.html" %}
    {% elif southworth_schedule %}
        {% include "weekday_weekend_holiday_schedule.html" %}
    {% elif vallejo_schedule %}
        {% include "vallejo_schedule.html" %}
    {% endif %}
{% endblock %}