{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block h1 %}{{ h1 }}{% endblock %}
{% block leadcopy %}{{ leadcopy }}{% endblock %}

{% block content %}
    {% if bremerton_schedule %}
        {% include "bremerton_schedule.html" %}
    {% elif bainbridge_schedule %}
        {% include "bainbridge_schedule.html" %}
    {% elif anacortes_schedule %}
        {% include "anacortes_schedule.html" %}
    {% elif kingston_schedule %}
        {% include "kingston_schedule.html" %}
    {% elif staten_island_schedule %}
        {% include "staten_island_schedule.html" %}
    {% endif %}
{% endblock %}