{% extends 'base.html' %}

{% block title %}Washington State Ferry Schedules{% endblock %}

{% block h1 %}Washington State Ferry Schedules{% endblock %}
{% block leadcopy %}A comprehensive, up-to-date directory of Washington State Ferry Schedules.{% endblock %}

{% block content %}
<h5>Browse ferry schedules in Washington</h5>
<div class="container container-link-group">
    {% for row in wa_schedules|batch(3,'') %}
    <div class="row d-flex justify-content-center">
        <div class="col-sm">
            <ul>
            {% for href in row %}
                
                            <li><a href="{{ href.0 }}">{{ href.1 }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

